.content {
  width: 50%;
  margin-left: 10%;
  margin-top: 2%;
}

.front-content {
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

p, ul, li {
  font-family: 'Raleway', sans-serif
}

a:link, a:visited {
  font-family: 'Raleway', sans-serif;
  color: #529c83;
  background-color: transparent;
  text-decoration: none
}

a:hover {
  font-family: 'Raleway', sans-serif;
  color: #050589;
  background-color: transparent;
  text-decoration: none
}

.heading {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #c16667;
}

.bookHeading {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.yearHeading {
  font-size:50px;
  font-family: 'Raleway', sans-serif;
}
