body {
	margin:0;
	padding:0;
	border: 0;
}

h1 {
	text-align: center;
	font-size: 35px;
	color: black;
	font-style: "Helvetica Neue Light";
}

h2 {
	text-align: center;
	font-weight: bold;
	font-style: "Helvetica Neue";
	color: white;
}

#headshot {
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right:auto;
	border-radius: 75%;
}

#intro {
	/*background-color: #3D1FC1;*/
	/*background-color: #000066;*/
	/*background-image: url("backdrop.img");*/
	background: url("blurred_backdrop.jpeg") repeat 0 0;
	background-size: cover;
	overflow: hidden;
}

#meinfo {
	color: white;
	background-color: #343435;
	overflow: hidden;
	font-size: 20px;
}

#aboutme {
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right:auto;
}

#contactme {
	background-color: #474747;
	overflow: hidden;
}