.content {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto 0 auto;
}

.front-content {
  width: 80%;
  max-width: 1000px;
  margin: 100px auto 0 auto;
}

p, ul, li {
  font-family: 'Raleway', sans-serif;
  max-width: 500px;
}

a:link, a:visited {
  font-family: 'Raleway', sans-serif;
  color: #529c83;
  background-color: transparent;
  text-decoration: none
}

a:hover {
  font-family: 'Raleway', sans-serif;
  color: #050589;
  background-color: transparent;
  text-decoration: none
}

.heading {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #c16667;
  max-width: 500px;
}

.book-heading {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  max-width: 500px;
}

.year-heading {
  font-size:50px;
  font-family: 'Raleway', sans-serif;
  max-width: 500px;
}
